*.vcxproj.filters
*.vcxproj
*.sln
.vscode
tmp/

# https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

libimse.so
iscmd
QtSearcher
QtSearcher_automoc.cpp
moc_*.cpp
test.bmp
